.title {
  text-align: center;
  margin-top: 20px;
}

.list {
  margin-top: 32px;
}

.list-item {
  margin-top: 20px;
  border: 1px solid #dcdcdc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.list-item-img {
  margin-right: 10px;
}
